.transferContainer {
  height: auto;
  width: auto;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 80px;
  ;

}

.transferContainerInputs {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-content: center;
  gap: 20px;
  top: 5px;
}

.transferInputs {
  height: 100px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.transferInputs-label {
  color: #eef2f5;
  width: 280px;
  height: 30px;
  letter-spacing: 0.04em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  text-shadow: 1px 1px 3px #9d9da1;
}

.transferInputs-label h3{
  font-size: 18px;
  font-weight: 600;
}

.transferInput {
  width: 350px;
  height: 50px;
  border: none;
  border-radius: 5px 5px;
  background-color: #2a99e4;
  color: white;
  font-weight: 700;
  letter-spacing:0.02em;
  box-shadow: 2px 2px 5px #1a3946;
  font-size: 14px;
  outline: none;
  padding-left: 20px;
}
::placeholder {
  font-weight:lighter;
  font-size: 12px;
  color: #726a6a;
}

.transferIcon {
  color: white;
  height: 60px;
}

.transferButton {
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 0.1em;
  position: relative;
  top: 12px;
  width: 170px;
  height: 50px;
  border: none;
  border-radius: 7px 7px;
  box-shadow: 0.1em 0.09em 1px black;
  cursor: pointer;
}

.transferButton:hover {
  color: white;
  background-color: black;
}



