.transferContainer {
  /* background-color: red; */
  height: 550px;
  width: 100%;
  display: block;
}

.transferContainerInputs {
  /* background-color: green; */
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  top: 50px;
}

.transferInputs {
  /* background-color: blue; */
  height: 100px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.transferInputs-label {
  /* background-color: red; */
  color: #003580;
  width: 280px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  text-shadow: -1px 1px 4px #8b8989;
}

.transferInputs-label h3{
  font-size: 21px;
  font-weight: 800;
}

.transferInput {
  width: 350px;
  height: 50px;
  border: none;
  border-radius: 5px 5px;
  box-shadow: -2px 2px 5px #8b8989;
  background-color: rgb(209, 231, 250);
  font-size: 13px;
  outline: none;
  padding-left: 20px;
}
::placeholder {
  color: #8b8989;
}

.transferIcon {
  color: rgb(64, 143, 189);
  height: 60px;
  text-shadow: -1px -1px 5px #8b8989;
}

.transferButton {
  color: #fff;
  background-color: #003580;
  font-size: 24px;
  font-weight: 900;
  position: relative;
  top: 12px;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 15px 15px;
  box-shadow: 2px 2px 3px #252424;
  cursor: pointer;
}

.transferButton:hover {
  color: #fff;
  background-color: #1154b3;
  box-shadow: 2px 2px 3px #003580;
}



