.transferContainer {
  /* background-color: red; */
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2px;
}

.transferContainerInputs {
  /* background-color: green; */
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.transferInputs {
  background-color: blue;
  height: 80px;
  width: 600px;
}