.header {
  background-image: url("../../assets/1295663.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  width: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.headerContainer {
  position: relative;
  top: 30px;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.headerContainer-h1 {
  color: white;
  font-family: montserrat, arial, helvetica, sans-serif;
  font-style: oblique;
  letter-spacing: 1px;
  font-size: 34px;
  text-shadow: 2px 3px 6px #252424;
}

.headerContainerInputButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.headerLabel_input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.headerLabel_input label {
  color: white;
  font-size: 17px;
  font-weight: 500;
  text-shadow: 1px 2px 1px #585555;
}

.headerLabel_input input {
  width: 300px;
  height: 25px;
  border: none;
  border-radius: 5px 5px;
  background-color: rgb(209, 231, 250);
  font-size: 13px;
  outline: none;
  padding-left: 10px;
}
::placeholder {
  color: #8b8989;
}
.headerContainer-button {
  color: #fff;
  background-color: #003580;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  top: 12px;
  width: 150px;
  height: 25px;
  border: none;
  border-radius: 5px 5px;
  box-shadow: 2px 2px 3px #252424;
  cursor: pointer;
}

.headerLayout {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
}

.headerLayout-h3 {
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  font-style: normal;
  position: relative;
  bottom: 20px;
  text-shadow: 1px 2px 1px #585555;
}

.headerLayout-star {
  position: relative;
  text-align: center;
  bottom: 30px;
}

.headerStarIcon {
  color: yellow;
}

