.navbar {
  position: relative;
  width: auto;
  background-color: #2a99e4;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 65px;
  box-shadow: 1px 1px 15px black;
}

.navContainer {
  width: 100%;
  background-color: #2a99e4;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.logo {
  background-color: #2a99e4;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
}

.logo h1 {
  background-color: #2a99e4;
  text-shadow: 2px 1px 2px white;
}

.navLogo {
  background-color: #2a99e4;
  height: 50px;
  width: 50px;
}

.navItems {
  background-color: #2a99e4;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.navButton {
  background-color: #2a99e4;
  margin-left: 20px;
  padding: 10px 12px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 20px;
}

.navIcon {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  color: black;
  box-shadow: 0.1em 0.09em 1px #2c2c2c;
  padding: 20px;
  font-size: 16px;
}
.navIcon:hover {
  color: white;
  background-color: black;
}
